Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv
synthetic_attacks.csv
//      "Tuesday-WorkingHours.pcap_ISCX.csv",
//      "Wednesday-workingHours.pcap_ISCX.csv",
//      "Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv",
//      "Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv",
//      "Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv",
//      "Friday-WorkingHours-Morning.pcap_ISCX.csv",
//      "Saturday-WorkingHours.pcap_ISCX.csv",
test_input.csv
merged_multiclass_ids_dataset.csv
CICD_Merged_Balanced.csv
CICDS2017_Multiclass_Balanced_5k.csv
CICIDS2017_Multiclass_Balanced.csv
CICIDS2017_Multiclass_Merged.csv
db.ipynb